{% extends 'base.html' %}

{% block head %}
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 600px;
            width: 100%;
            margin-left: 24%;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #333333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007BFF;
            font-size: 1.2em;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #0056b3;
        }

        /* Responsive Design */
        @media (max-width: 600px) {
            .container {
                padding: 20px;
            }

            h2 {
                font-size: 1.5em;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Blog Categories</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'blog_posts_by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
